<!doctype html>
<title> Hand Reconigtion </title>
<html lang="en">

{% if person %}
  <h1>Hello {{ person }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}


<body>
<form action= "{{ url_for('upload') }}" method='POST' enctype="multipart/form-data"> 
    <input type='file' name="file">
    <button type="submit">Upload</button>
</form>

<form action="/drop_down" method="POST">
  <label for="gesturedropdown"> Choose a Gesture</label>
  <select name="gesturedropdown" id = 'gesturedropdown'>
   
    {% for gesture in gestures %}

      <option value="{{gesture}}" > {{gesture }}</option>

    {% endfor %}

  </select>
  <button type = 'submit'> Submit </button>
</form>

{% if result_url %}
  <p> <img src="data:image/jpeg;base64,{{ result_url }}"></p>
{% endif %}

<img src = "{{url_for('video_feed')}}" width="640" height="480">

<h1> Live Feed </h1>
<pre id="landmarksLive"> None </pre>

<h1> Photo </h1>
<pre> {{handmarksphoto}} </pre>

<script>
async function updateHandMarks() {
  const data = await fetch("/getLandMarks")
  const jsonData = await data.json()
  document.getElementById('landmarksLive').innerText = JSON.stringify(jsonData,null, 0)
}
setInterval(updateHandMarks, 500)
</script>


</body>

</html>