<!doctype html>
<title> Hand Reconigtion </title>
<html lang="en">

{% if person %}
  <h1>Hello {{ person }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}


<body>
<form action= "{{ url_for('button_action') }}" method='post'> 
    <button type="submit">Click Me</button>
</form>

<form action="/drop_down" method="POST">
  <label for="gesturedropdown"> Choose a Gesture</label>
  <select name="gesturedropdown" id = 'gesturedropdown'>
   
    {% for gesture in gestures %}

      <option value="{{gesture}}" > {{gesture }}</option>

    {% endfor %}

  </select>
  <button type = 'submit'> Submit </button>
</form>

{% if message %}
  <p>{{ message }}</p>
{% endif %}

    
</body>

</html>